*{
    margin: 0;
    padding: 0;

    
}

#bgAguaText{
    background-image: url('resources/BG/gifmaker_me4lados.gif');
    background-position: center;
    background-size: cover;
    overflow: hidden;
    
}

#CardCustom{
    padding-bottom: 10px; 
}